<?xml version="1.0" ?>
<config>
    <tabs>
        <geosith module="fields" translate="label">
            <label>Yoke</label>
            <sort_order>100</sort_order>
        </geosith>
    </tabs>
    <sections>
        <fields module="fields" translate="label">
            <label>Social Accounts</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>geosith</tab>
            <groups>
                <social_section_group translate="label">
                    <label>Accounts</label>
                    <comment>Add social media links</comment>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pinterest_field translate="label tooltip comment">
                            <label>Pinterest</label>
                            <comment></comment>
                            <tooltip></tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </pinterest_field>
                        <instagram_field translate="label tooltip comment">
                            <label>Instagram</label>
                            <comment></comment>
                            <tooltip></tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </instagram_field>
                        <facebook_field translate="label tooltip comment">
                            <label>Facebook</label>
                            <comment></comment>
                            <tooltip></tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </facebook_field>
                        <twitter_field translate="label tooltip comment">
                            <label>Twitter</label>
                            <comment></comment>
                            <tooltip></tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </twitter_field>
                        <tumblr_field translate="label tooltip comment">
                            <label>Tumblr</label>
                            <comment></comment>
                            <tooltip></tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </tumblr_field>
                    </fields>
                </social_section_group>
            </groups>
        </fields>
    </sections>
</config>
